.ui.inverted.menu__transparent {
  background: transparent;
}

.hero__block {
  background: linear-gradient(312deg, #ff0032 0%, #fa1848 35%, #ffb270 100%);
}
.hero__container {
  padding: 15em 5em;
}
.hero__block .ui.hero__text {
  font-size: 4em;
  font-weight: normal;
}

.hero__block .ui.hero__form {
  margin-top: 3em;
}

.ui.business-card-list__container {
  margin: 5em 0;
}

.ui.business-card-list__container .image {
  height: 200px;
}
